<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SQL AI Chat</title>
  <link rel="stylesheet" href="../static/css/index.css" />
  <link rel="stylesheet" href="../static/css/chat.css" />

  <style>
    
  </style>

</head>

<body>
  <div class="full-screen">
    <!-- Line under the Dashboard  -->
    <div class="top-line"></div>

    <!-- sidebar content -->
    <div class="sidebar">
      <div class="sidebar-box">
        <!-- icon-project -->
        <div class="menu-project">
          <div class="icons-box">
            <img class="icons" src="/static/images/icons/projects_icon.png" alt="" />
          </div>
          <div class="menu-text">Lawyer Blogs</div>
        </div>

        <!-- icon-tasks  -->
        <div class="menu-tasks">
          <div class="icons-box">
            <img class="icons" src="/static/images/icons/tasks_icon.png" alt="" />
          </div>
          <div class="menu-text">Documents</div>
        </div>

        <!-- icon dashboard -->
        <div class="menu-dashboard">
          <div class="icons-box">
            <a href="/home">
              <img class="icons" src="/static/images/icons/dashboard_icon.png" alt="" />
            </a>
          </div>
          <div class="menu-text">
            <a href="/home" style="text-decoration: none; color: inherit">Dashboard</a>
          </div>
        </div>

        <!-- icon Chat -->
        <div class="menu-users">
          <div class="icons-box">
            <a href="/chat" style="text-decoration: none">
              <img class="icons" src="/static/images/icons/chattings_icons.png" alt="" />
            </a>
          </div>
          <a href="/chat" style="text-decoration: none">
            <div class="menu-text">Ask for chat</div>
          </a>
        </div>

        <div class="menu-settings">
          <div class="icons-box">
            <img class="icons" src="/static/images/icons/settings_icons.png" alt="" />
          </div>
          <div class="menu-text">Menu settings</div>
        </div>
      </div>
    </div>


  <!-- Chat box -->
    <!-- Embed the Gradio app using the URL passed from Flask -->
    <div class="chatbox-box">
      <h1>Our Gradio App</h1>
      <iframe src="{{ gradio_url }}" title="Gradio App"></iframe>
    </div>

      

    <!-- Sidebar title <Edusmart> -->
    <div class="menu-title">
      <a href="/home" style="text-decoration: none; color: inherit">FirstLegalAid</a>
    </div>

    <!-- Logo -->
    <div class="logo-box">
      <a href="/home">
        <img class="logo-img" src="../static/images/logo1-1.jpg" " alt="">
        </a>
      </div>

      <button class=" button-sign-out">
        <a href="/login" style="text-decoration: none; color: #ffffff">Sign Out</a>
        </button>

        <script>

        </script>
    </div>
</body>

</html>